node {
    fill-color: grey;
    size: 5px;
    stroke-mode: plain;
    stroke-color: black;
    stroke-width: 1px;
    text-alignment: center;
}

node.H {
    fill-color: green;
    size: 5px;
}

node.important {
    fill-color: red;
    size: 10px;
}
